<!--     *********    Footer     *********      -->
<footer class="footer">
    <div class="container">
      <a class="footer-brand" href="#pablo">Bunkin Hostel </a>


      <ul class="pull-center">
        <li>
          <a href="#pablo">
             About Us
          </a>
        </li>
        <li>
          <a href="#pablo">
             Discover
          </a>
        </li>
        <li>
          <a href="#pablo">
            Contact Us
          </a>
        </li>
      </ul>

      <ul class="social-buttons pull-right">
        <li>
          <a href="https://twitter.com/bunkinhostels/y" target="_blank" class="btn btn-twitter btn-simple">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/bunkinhostels" target="_blank" class="btn btn-facebook btn-simple">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/bunkinhostels/" target="_blank" class="btn btn-google btn-simple">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>

    </div>
  </footer>
