<app-navbar> </app-navbar>
<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/hostel/18.JPG');">
  <div class="container">
      <div class="row">
  <div class="col-md-6">
    <h1 class="title">Let's Bunkin</h1>
              <h4>Take Advantage Of the Budget oriented Accommodation.</h4>
              <br />
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
      <i class="fa fa-play"></i> Watch video
    </a>
  </div>
      </div>
  </div>
</div>
<br>
<br>
         <div class="row">

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/2.JPG')">
                  <div class="card-content">
                    <h6 class="category text-info">Book Cafe</h6>
                    <a href="#pablo">
                      <h3 class="card-title">Book Cafe</h3>
                    </a>
                    <p class="card-description">

                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/8.JPG')">
                  <div class="card-content">
                    <h6 class="category text-info">Workspace</h6>
                    <h3 class="card-title">Workspace</h3>
                    <p class="card-description">
                                        </p>
                    <a href="#pablo" class="btn btn-primary btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/office2.jpg')">
                  <div class="card-content">
                    <h6 class="category text-info">Tours</h6>
                    <a href="#pablo">
                      <h3 class="card-title">Tours</h3>
                    </a>
                    <p class="card-description">
                                        </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

  </div>

  <br>
  <br>
  <div class="row">

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/12.JPG')">
                  <div class="card-content">
                    <h6 class="category text-info">Party Space</h6>
                    <a href="#pablo">
                      <h3 class="card-title">Party Space</h3>
                    </a>
                    <p class="card-description">
                                        </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/blog8.jpg')">
                  <div class="card-content">
                    <h6 class="category text-info">Events</h6>
                    <h3 class="card-title">Events</h3>
                    <p class="card-description">
                                      </p>
                    <a href="#pablo" class="btn btn-primary btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/office2.jpg')">
                  <div class="card-content">
                    <h6 class="category text-info">Garden Area</h6>
                    <a href="#pablo">
                      <h3 class="card-title">Garden Area</h3>
                    </a>
                    <p class="card-description"> </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

  </div>

  <br>
  <br>
  <!--     *********    TESTIMONIALS 1     *********      -->

  <div class="testimonials-1 section-image" style="background-image: url('assets/img/hostel/28.JPG')">

        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="title">Guest Reviews</h2>
                        </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="card card-testimonial">
                <div class="icon">
                  <i class="material-icons">format_quote</i>
                </div>
                <div class="card-content">
                  <h5 class="card-description">
                    Very good situated in a quiet quarter of hectic New Delhi. Small Park opposite road. Easy to reach by metro and/or bus. B
                    unkin is an oasis of relief. Newly opened, well equipped .Nice roof terrace! Staff excellent, very, very friendly
                    and as a big surplus extremly helpful in any way. Overall highly recommended hostel.
                  </h5>
                </div>

                <div class="footer">

                    <i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
                    <i class="material-icons text-warning">star</i>

                  <h4 class="card-title">Jan Suchma</h4>
                  <h6 class="category"></h6>
                  <div class="card-avatar">

                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-testimonial">
                <div class="icon">
                  <i class="material-icons">format_quote</i>
                </div>
                <div class="card-content">
                  <h5 class="card-description">
                    I had the feeling that they were staring at my wishes.They organized for us private tours, they always offered their help,
                   they cooked for us, they arranged something to every evening so that we don't have
                   any chances to get bored.Also,they always had some nice words to all of the guests! Extremely polite & friendly,young enthusiastic people.The hostel itself is very nice.
                  </h5>
                </div>

                <div class="footer">
                    <i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
                    <i class="material-icons text-warning">star</i>

                  <h4 class="card-title">Nora taliga</h4>
                  <h6 class="category"></h6>
                  <div class="card-avatar">

                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-testimonial">
                <div class="icon">
                  <i class="material-icons">format_quote</i>
                </div>
                <div class="card-content">
                  <h5 class="card-description">
                    "Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!"
                  </h5>
                </div>

                <div class="footer">
                    <i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
                    <i class="material-icons text-warning">star</i>

                  <h4 class="card-title">George West</h4>
                  <h6 class="category">@georgewest</h6>
                  <div class="card-avatar">

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
 <app-footer> </app-footer>


