<div class="main main-raised">
		<div class="container">
            <div class="section section-text">
                <div class="row">
    				<div class="col-md-8 col-md-offset-2">
        				<h3 class="title">The Book Cafe</h3>
    					<p> The Book Café was formed to provide a great chill-out place for its guests with its relaxing, casual and cosy atmosphere.
                The indoor dining area resembled a large living room with big inviting sofas, soft lights and book shelves to complement its
                intimate interior that allows guests to dine-in with comfort.
                  <br>
                  Well-equipped with a huge array of magazines, electrical power-points for laptop users, foreign and local newspapers,
                  free wireless access and a photocopier, our café have became a hot-spot for students as well as professional occupation personnel.
                  All-Day breakfast are also offered in our café, providing delicious and sumptuous breakfasts to those who wished to wake up slightly
                  later than usual!
                  </p>
					</div>

					<div class="section col-md-10 col-md-offset-1">
						<div class="col-md-4">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../assets/img/hostel/1-min.JPG">
						</div>
						<div class="col-md-4">
              				<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../assets/img/hostel/2-min.JPG">
						</div>
						<div class="col-md-4">
							<img class="img-rounded img-responsive img-raised" alt="Raised Image" src="../assets/img/hostel/4-min.JPG">
						</div>
					</div>
