
      
        <!--     *********    END TESTIMONIALS 2      *********      -->
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/city.jpg');">
  <div class="container">
      <div class="row">
  <div class="col-md-6">
    <h1 class="title" style="font-weight:bold;">Let's Bunkin</h1>
              <p style="font-size: 24px;">Take Advantage Of the Budget oriented Accommodation.</p>
              <br>
             <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
      <i class="fa fa-play"></i> Watch video
    </a>-->
  </div>
      </div>
  </div>
</div>
<br>
<br>
         <div class="row">

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/2-min.JPG')">
                  <div class="card-content">
                    <h6 class="category text-info">Book Cafe</h6>
                    <a href="#pablo">
                      <h3 class="card-title">Book Cafe</h3>
                    </a>
                    <p class="card-description">

                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/8.JPG')">
                  <div class="card-content">
                    <h6 class="category text-info">Workspace</h6>
                    <h3 class="card-title">Workspace</h3>
                    <p class="card-description">
                                        </p>
                    <a href="#pablo" class="btn btn-primary btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/2-min.JPG')">
                  <div class="card-content">
                    <h6 class="category text-info">Tours</h6>
                    <a href="#pablo">
                      <h3 class="card-title">Tours</h3>
                    </a>
                    <p class="card-description">
                                        </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

  </div>

  <br>
  <br>
  <div class="row">

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/4-min.JPG')">
                  <div class="card-content">
                    <h6 class="category text-info">Party Space</h6>
                    <a href="#pablo">
                      <h3 class="card-title">Party Space</h3>
                    </a>
                    <p class="card-description">
                                        </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/4-min.JPG')">
                  <div class="card-content">
                    <h6 class="category text-info">Events</h6>
                    <h3 class="card-title">Events</h3>
                    <p class="card-description">
                                      </p>
                    <a href="#pablo" class="btn btn-primary btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-raised card-background" style="background-image: url('../assets/img/hostel/2-min.JPG')">
                  <div class="card-content">
                    <h6 class="category text-info">Garden Area</h6>
                    <a href="#pablo">
                      <h3 class="card-title">Garden Area</h3>
                    </a>
                    <p class="card-description"> </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                      <i class="material-icons">format_align_left</i> Know More
                    </a>
                  </div>
                </div>
              </div>

  </div>

  <br>
  <br>
  <!--     *********    TESTIMONIALS 1     *********      -->

  <div class="testimonials-1 section-image" style="background-image: url('assets/img/hostel/28.JPG'); text-align:left;">

        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="title">Guest Reviews</h2>
            </div>
          </div>

          <div class="row">
            
            <div class="col-md-4">
              <div class="card card-testimonial">
                <div class="icon">
                  <i class="material-icons">format_quote</i>
                </div>
                <div class="card-content">
                  <h5 class="card-description">
                    Very good situated in a quiet quarter of hectic New Delhi. Small Park opposite road. Easy to reach by metro and/or bus. 
                    Bunkin is an oasis of relief. Newly opened, well equipped .Nice roof terrace! Staff excellent, very, very friendly
                    and as a big surplus extremly helpful in any way. Overall highly recommended hostel.
                  </h5>
                </div>

                <div class="footer">

                    <i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
                    <i class="material-icons text-warning">star</i>
                    <i class="material-icons text-warning">star</i>

                  <h4 class="card-title">Jan Suchma</h4>
                  <h5>- Country</h5>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-testimonial">
                <div class="icon">
                  <i class="material-icons">format_quote</i>
                </div>
                <div class="card-content">
                  <h5 class="card-description">
                    I had the feeling that they were staring at my wishes.They organized for us private tours, offered help in best way, cooked for us,
                     they arranged something every evening so that we don't get bored. Also,they always had nice words to all of the guests! 
                     Extremely polite, friendly, young enthusiastic people. 
                  </h5>
                </div>

                <div class="footer">
                    <i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
										<i class="material-icons text-warning">star</i>
                    <i class="material-icons text-warning">star</i>
                    <i class="material-icons text-warning">star</i>

                  <h4 class="card-title">Nora Taliga</h4>
                  <h5>- Hungary</h5>
                </div>
            </div>
            </div>

            <div class="col-md-4">
            <div class="card card-testimonial">
              <div class="icon">
                <i class="material-icons">format_quote</i>
              </div>
              <div class="card-content">
                <h5 class="card-description">
                  Best hostel vibes ever! This new hostel is managed by people who are so passionate, determined to make their mark, 
                  aggressive in creating innovations and more adamant at connecting genuinely with their guests. In all my travels, 
                  not just around India, Bunkin' gave me the best friendly vibes ever. Bunkin' is really somethin'!
                </h5>
               </div>

              <div class="footer">
                  <i class="material-icons text-warning">star</i>
                  <i class="material-icons text-warning">star</i>
                  <i class="material-icons text-warning">star</i>
                  <i class="material-icons text-warning">star</i>
                  <i class="material-icons text-warning">star</i>

                <h4 class="card-title">Gemini Wanders</h4>
                <h5>- Country</h5>
              </div>
          </div>
          </div>

        </div>
      </div>


      
      