<div class="container" >
  <div class="row">
    <div class="col-md-6">  
      <h2>Search</h2>
  <form>
    <div class="form-group">
      <label for="destination">Destination:</label>
      <select class="form-control" id="destination" placeholder="Select destination">
    <option>Delhi</option>
    <option>Goa</option>
   </select>
    </div>
    <div class="form-group">
      <label for="check-in">Check-in date:</label>
      <input type="date" class="form-control" id="date" placeholder="Check-in date">
    </div>
    <div class="form-group">
      <label for="check-out">Check-out date:</label>
      <input type="date" class= "form-control" id="date" placeholder="Check-out date">
    </div>
    <div class="form-group">
      <label for="Guests">Guests:</label>
      <input type="number" min="1" class="form-control" id="guests" placeholder="">
    </div>
   
    <button type="submit" class="btn btn-primary active">Check Availabilty</button>
  </form>
    </div>
  </div>
</div>
